<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="server=localhost;database=BloodBank_Data234base;user=bank_admin;password=denso202" />
    <add name="BloodBankManager.Properties.Settings.connString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=BloodBank_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>